.sticky {
  padding: 10px;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--subClr);
  color: #dfdfdf;
  font-size: calc(var(--heading1) * 0.7);
  letter-spacing: 3px;
}
.sticky span {
  color: #ff6493;
  filter: drop-shadow(0 0 25px #ff6493);
  font-size: calc(var(--heading1) * 1.2);
}

.title {
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
}
.content {
  margin: 50px auto;
  padding: 30px 5%;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 10px;
  width: 60%;
  min-width: 600px;
}
.content .history {
  margin-top: 15px;
}
.content > h1 {
  font-size: 2.7vw;
  color: #fff;
  width: 100%;
  margin: 13px 0 8px 0;
  padding: 5px 0 5px 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-left: #ff6493 solid 15px;
  display: inline-block;
  padding-right: 50px;
  line-height: 60px;
}
.content > h1 > span {
  font-size: 4vw;
}
.content > h2 {
  font-size: 18px;
}
.content > h3 {
  font-size: calc(var(--heading3) * 0.8);
  color: rgba(230, 230, 230, 1);
}
.history_content {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin: 0 0 0 auto;
  padding: 0 15px 15px 0;
  height: 42vh;
  overflow-x: hidden;
  overflow-y: overlay;
  color: rgba(230, 230, 230, 1);
}
.history_content > ul {
  padding-top: 10px;
  position: relative;
  padding: 0 50px;
}
.history > ul > h3 {
  text-align: center;
  padding: 15px 20px 15px 0;
  border-bottom: #ff6493 2px solid;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.history_content > ul + ul::before {
  content: "ã€€";
  height: 20px;
  border-left: #fff 2px dashed;
  /* transform: translateX(47%); */
  display: block;
  width: 50%;
  margin: 0 0 0 auto;
}
.category_title {
  text-align: center;
  /* padding-right: 30px; */
  margin: 10px 0 5px;
  text-shadow: 5px 5px 5px #ff6493;
}
/* .category_title::before {
  content: "<";
  padding: 0 5px;
  text-shadow: 0px 0px 0px #ff6493;
}
.category_title::after {
  content: ">";
  padding: 0 5px;
  text-shadow: 0px 0px 0px #ff6493;
} */
.history_content li {
  text-align: center;
  margin-bottom: 2px;
}

.navigation {
  padding: 40px 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 60%);
}

.navigation li {
  /* list-style: none; */
  cursor: pointer;
  margin: 0 10px;
  border-radius: 4px;
  background: #fff;
  padding: 20px 10px 3px;
  transition: 0.5s;
  position: relative;
}

.navigation li p {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 500;
  background-color: rgb(45, 45, 45);
  color: white;
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px 5px 0 0;
  width: 100%;
  transition: all 0.35s;
  padding: 3px 0;
}
.nav_icon {
  font-size: 2rem;
  transform: rotate(-10deg);
  color: white;
  padding: 0 10px;
}

.navigation li img {
  width: 50px;
  height: 40px;
  transition: 0.5s;
}

.navigation li:hover > img {
  transform: scale(1.3);
  /* width: 70px;
  height: 60px; */
}

.twoColumn {
  display: flex;
}
.side_navigation_container {
  background: rgb(0 0 0 / 82%);
  min-height: 700px;
}
.side_navigation {
  color: white;
  padding: 50px 30px;
  transform: translateY(80px);
}
.side_navigation h2 {
  /* border-bottom: 5px solid #ff6493; */
  border-image: linear-gradient(
    to right,
    #ff6493 0%,
    #ff6493 60%,
    rgb(0 0 0 / 60%) 100%
  );
  border-image-slice: 1;
  display: inline-block;
  width: 120px;
  margin-bottom: 40px;
}
.side_navigation li {
  display: flex;
  align-items: center;
  color: rgb(210, 210, 210);
  font-size: 0.9rem;
}
.side_navigation li:hover > p {
  cursor: pointer;
  transition: all 0.35s;
  transform: translateX(10px);
}
.selected {
  /* color: #ff7ba3; */
  color: #fff;
  border-bottom: #ff6493 solid 3px;
  font-size: 1.3rem;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .container {
    padding-bottom: 1px;
  }
  .content {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .content > h1 {
    font-size: 4vw;
  }
  .content > h1 > span {
    font-size: var(--heading1);
  }
}

@media (max-width: 700px) {
  .content {
    margin: 60px auto;
    padding: 30px 5%;
    width: 90%;
    min-width: unset;
  }
  .content > h1 {
    font-size: 5.5vw;
    display: inline;
  }
  .content > h1 > span {
    font-size: 6vw;
  }
  .nav_icon {
    font-size: 1.5rem;
    padding: 0;
  }
}
@media (max-width: 500px) {
  .content {
    margin: 20px auto;
  }
  .content > h1 {
    padding: 5px 10px 5px 10px;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
    line-height: 45px;
  }
  .content > h1 > span {
    font-size: 6.5vw;
  }
  .content > h2 {
    font-size: 3vw;
  }
  .content > h3 {
    line-height: 0px;
  }
  .history > h3 {
    font-size: 4vw;
  }
  .history p,
  .history li {
    font-size: 3.5vw;
  }
  .navigation li {
    margin: 0 5px;
    padding: 15px 10px 3px;
  }
  .navigation li img {
    width: 30px;
    height: 20px;
  }
  .navigation li img:hover {
    width: 40px;
    height: 30px;
  }
  .nav_icon {
    font-size: 1.2rem;
  }
}
