.sticky {
  padding: 10px;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--subClr);
  color: #dfdfdf;
  font-size: calc(var(--heading1) * 0.7);
  letter-spacing: 3px;
}
.sticky span {
  color: #ff6493;
  filter: drop-shadow(0 0 25px #ff6493);
  font-size: calc(var(--heading1) * 1.2);
}

.title {
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  padding-top: 30px;
}

.content {
  margin: 0 10%;
  padding: 30px 5%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 10px;
  /* min-height: 60vh; */
}
.content .history {
  margin-top: 15px;
}
.content > h1 {
  font-size: 40px;
  border-bottom: 5px solid #ff6493;
  border-image: linear-gradient(to right, #ff6493 0%, #ff6493 60%, #fff 100%);
  border-image-slice: 1;
  display: inline;
  padding-right: 50px;
  line-height: 60px;
  margin: 10px 0;
}
.content > h1 > span {
  font-size: 60px;
}
.content > h2 {
  font-size: 18px;
  /* color: rgba(230, 230, 230, 1); */
}
.content > h3 {
  font-size: calc(var(--heading3) * 0.8);
  color: rgba(230, 230, 230, 1);
}

.history_content {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  margin: 5px 0;
  padding: 0 15px;
  height: 26vh;
  overflow-y: overlay;
  color: rgba(230, 230, 230, 1);
}
.category_title {
  font-weight: bold;
  border-bottom: 1.6px solid #ff6493;
  border-image: linear-gradient(to right, #ff6493 0%, #ff6493 60%, #fff 100%);
  border-image-slice: 1;
  display: inline-block;
  padding-right: 30px;
  margin: 10px 0 5px;
}
.content li {
  list-style: circle inside;
  margin-bottom: 2px;
  font-size: var(--body);
  text-indent: -1em;
  padding-left: 1em;
}

.navigation {
  padding: 40px 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation li {
  list-style: none;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 4px;
  background: #fff;
  padding: 15px 10px 3px;
  opacity: 0.85;
  transition: 0.5s;
  position: relative;
}

.navigation li p {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 500;
  background-color: rgb(45, 45, 45);
  color: white;
  position: absolute;
  top: -1%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px 5px 0 0;
  width: 101%;
}

.navigation *:hover {
  opacity: 1;
}

.navigation li img {
  width: 50px;
  height: 40px;
  transition: 0.5s;
}

.navigation li img:hover {
  width: 70px;
  height: 60px;
  opacity: 1;
}

@media (max-width: 1000px) {
  .content > h1 {
    font-size: calc(var(--heading1) * 0.6);
  }
  .content > h1 > span {
    font-size: var(--heading1);
  }
}

@media (max-width: 700px) {
  .content > h1 {
    font-size: 3.5vw;
    display: inline;
  }
  .content > h1 > span {
    font-size: 6vw;
  }
}
@media (max-width: 500px) {
  .content {
    margin: 0 5%;
  }
  .content > h1 {
    font-size: 4vw;
    padding-right: 30px;
    border-bottom: 3.5px solid #ff6493;
    display: inline;
  }
  .content > h1 > span {
    font-size: 6.5vw;
  }
  .content > h2 {
    font-size: 3vw;
  }
  .content > h3 {
    line-height: 0px;
  }
  .history > h3 {
    font-size: 4vw;
  }
  .history p,
  .history li {
    font-size: 3.5vw;
  }
  .navigation li {
    margin: 0 5px;
    padding: 15px 10px 3px;
  }
  .navigation li img {
    width: 30px;
    height: 20px;
  }

  .navigation li img:hover {
    width: 40px;
    height: 30px;
  }
}
