.container {
  position: relative;
  z-index: 10000;
  height: 100vh;
  margin: 0 auto;

  border: 8vw solid black;
  border-bottom-width: 6vw;

  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: slideshow 20s infinite;
  transition: background-image 0.5s ease-in-out;
  background-blend-mode: darken;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3%;

  font-weight: bold;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  letter-spacing: 20px;
}

.first_name,
.last_name {
  font-size: 8vw;
}

@media (max-width: 500px) {
  .hero {
    flex-direction: column;
    text-transform: uppercase;
  }
  .first_name {
    font-size: 12vw;
  }
  .last_name {
    width: 100%;
    text-align: right;
    font-size: 12vw;
  }
}

@keyframes slideshow {
  0%,
  20% {
    background-image: url("../../public/home_img1.jpg");
    background-position: 30% 90%;
  }
  40%,
  55% {
    background-image: url("../../public/home_img2.jpg");
    background-position: 53% 50%;
  }
  70%,
  90% {
    background-image: url("../../public/home_img3.jpg");
    background-position: 80% 20%;
  }
  100% {
    background-image: url("../../public/home_img1.jpg");
    background-position: 30% 90%;
  }
}
