.container {
  position: relative;
}

.title {
  color: #1b50b3;
  position: absolute;
  top: 15%;
  left: 10%;
  padding-right: 13%;
  /* border-bottom: 5px #0e529b solid; */
  font-weight: 400;
}
.title > span {
  font-size: calc(var(--heading1) * 2);
  color: #3335ab;
  font-weight: 600;
}

.slideshow {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  animation: slideshow 20s infinite;
  transition: background-image 0.5s ease-in-out;
}

.slideshow {
  background-image: url("../../public/home_img1.jpg");
}

/* @keyframes slideshow {
  0%,
  20% {
    background-image: url("../../public/home_img1.jpg");
  }
  40%,
  55% {
    background-image: url("../../public/home_img2.jpg");
  }
  70%,
  90% {
    background-image: url("../../public/home_img3.jpg");
  }
  100% {
    background-image: url("../../public/home_img1.jpg");
  }
} */
