.container {
  position: relative;
  z-index: 10000;
  padding: 10px 10px 0;
  background-color: black;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.title > h1 {
  letter-spacing: 20px;
  font-size: calc(var(--heading1) * 1.2);
}
.title > p {
  letter-spacing: 10px;
  margin-top: 25px;
  font-weight: 600;
  font-size: var(--heading3);
}

.slideshow {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: slideshow 20s infinite;
  transition: background-image 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
}

/* ページのトップに矢印を表示 */
.arrowdown {
  position: absolute;
  top: 70%;
  font-size: 52px;
  animation: scroll-down 2.5s infinite ease-in-out;
  cursor: pointer;
}

/* スクロールアニメーションを定義 */
@keyframes scroll-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* .slideshow {
  background-image: url("../../public/home_img1.jpg");
} */

@keyframes slideshow {
  0%,
  20% {
    background-image: url("../../public/home_img1.jpg");
    background-position: 30% center;
  }
  40%,
  55% {
    background-image: url("../../public/home_img2.jpg");
    background-position: center center;
  }
  70%,
  90% {
    background-image: url("../../public/home_img3.jpg");
    background-position: 80% 30%;
  }
  100% {
    background-image: url("../../public/home_img1.jpg");
    background-position: 30% center;
  }
}

@media (max-width: 768px) {
  .title > h1 {
    letter-spacing: 12px;
    font-size: calc(var(--heading1));
  }
  .title > p {
    letter-spacing: 8px;
    margin-top: 20px;
    font-weight: 600;
    font-size: var(--heading3) * 0.7;
  }
}

@media (max-width: 600px) {
  .title > h1 {
    letter-spacing: 9px;
    font-size: calc(var(--heading1) * 0.7);
  }
  .title > p {
    letter-spacing: 8px;
    margin-top: 20px;
    font-weight: 600;
    font-size: var(--heading3) * 0.5;
  }
}
