.container {
  position: relative;
  z-index: 10000;
  padding: 10px 10px 0 10px;
  background-color: var(--subClr);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 100%;
  color: #fff;
  text-align: center;

  gap: 3%;
  background: rgba(0, 0, 0, 0.4);
  letter-spacing: 20px;
  font-weight: bold;
  width: 100%;
}

/* .title > div {
  letter-spacing: 20px;
  font-weight: bold;
  height: 100%;
  transition: all 2.3s;
} */

.title_first {
  font-size: 8vw;
  /* transform: translateX(160px); */
  /* width: 40%; */
  /* line-height: 80vh; */
  /* display: flex;
  justify-content: flex-end; */
}

.title_second {
  /* display: flex;
  justify-content: flex-end; */
  font-size: 8vw;
  /* width: 80%; */
  /* line-height: 100vh; */
  /* clip-path: polygon(60% 0, 100% 0, 100% 100%, 0 100%); */
}

.title_effect {
  /* background: rgba(255, 255, 255, 0.8);
  mix-blend-mode: screen;
  color: #000; */
}

.slideshow {
  width: 100%;
  border: black 8vw solid;
  border-bottom: black 6vw solid;
  margin: 0 auto;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: slideshow 20s infinite;
  transition: background-image 0.5s ease-in-out;
  background-blend-mode: darken;
}

@keyframes slideshow {
  0%,
  20% {
    background-image: url("../../public/home_img1.jpg");
    background-position: 30% 90%;
  }
  40%,
  55% {
    background-image: url("../../public/home_img2.jpg");
    background-position: 53% 50%;
  }
  70%,
  90% {
    background-image: url("../../public/home_img3.jpg");
    background-position: 80% 20%;
  }
  100% {
    background-image: url("../../public/home_img1.jpg");
    background-position: 30% 90%;
  }
}
/* 
@media (max-width: 768px) {
  .title > h1 {
    letter-spacing: 12px;
    font-size: calc(var(--heading1));
  }
  .title > p {
    letter-spacing: 8px;
    margin-top: 20px;
    font-weight: 600;
    font-size: var(--heading3) * 0.7;
  }

  .title_first {
    font-size: 9vw;
    transform: translateX(150px);
    line-height: 70vh;
    width: 35%;
  }

  .title_second {
    font-size: 8vw;
    clip-path: polygon(70% 0, 100% 0, 100% 100%, 0 100%);
  }
} */

@media (max-width: 500px) {
  .title {
    flex-direction: column;
    /* flex-wrap: wrap; */
    text-transform: uppercase;
  }
  .title > .title_first {
    font-size: 12vw;
  }
  .title > .title_second {
    /* transform: translateX(60px); */
    width: 100%;
    text-align: right;
    font-size: 12vw;
  }
  /* .container {
    padding: 15px 13px 0 13px;
  }

  .title {
    flex-direction: column;
  }

  .title_first {
    transform: translateX(0);
    width: 100%;
    font-size: 13vw;
    flex: 1;
    line-height: 10vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 35% 20px 0;
  }

  .title_second {
    font-size: 13vw;
    flex: 2;
    line-height: 10vh;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .title_effect {
    background: rgba(255, 255, 255, 0);
    mix-blend-mode: normal;
    color: #fff;
  } */
}
