.container {
  background: url(../../public/play.avif);
  background-size: cover;
  background-position: 60% center;
  background-attachment: fixed;
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
  /* background-blend-mode: darken; */
  min-height: 100%;
  height: 100%;
  position: relative;
}
.title {
  text-align: center;
}
.sticky {
  padding: 10px;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--subClr);
  color: #dfdfdf;
  font-size: calc(var(--heading1) * 0.7);
  letter-spacing: 3px;
}
.sticky span {
  color: #7700e2;
  filter: drop-shadow(0 0 25px #7700e2);
  font-size: calc(var(--heading1) * 1.2);
}
.game_container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game_menus {
  display: flex;
  min-height: 10vh;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px 0 50px 0;
}
.game_menus button {
  background-color: #7700e2;
  color: #dfdfdf;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: #8800ff solid 5px;
  box-shadow: 0px 0px 10px 3px #7700e2;
}
.game_menus button {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.5s all;
}
.game_menus button:hover {
  transform: scale(1.2);
  opacity: 1;
}
.game_menus_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.game_menus_content {
  margin-top: 100px;
  width: 90%;
  max-width: 1000px;
  height: 70%;
  background: #2b2b2b;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  padding: 50px;
  position: relative;
  overflow-y: scroll;
}
.game_menus_content .menu_title {
  text-align: center;
  border-bottom: 5px solid #8000bc;
  border-image: linear-gradient(
    to right,
    #8000bc 0%,
    #8000bc 80%,
    #2b2b2b 100%
  );
  border-image-slice: 1;
}
.game_menus_content .close_button {
  color: #8000bc;
  font-size: 3rem;
  position: absolute;
  top: 2px;
  right: 20px;
  cursor: pointer;
  transition: all 0.35s;
}
.game_menus_content .close_button > svg {
  background-color: #fff;
  clip-path: circle(48%);
}
.game_menus_content .close_button:hover {
  opacity: 0.7;
}
.game_menus_content nav {
  padding: 50px 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.game_menus_content nav div {
  padding: 5px;
}
.game_menus_content nav div img {
  width: 150px;
  height: 130px;
}
.game_menus_content nav div h3 {
  text-align: center;
}

@media (max-width: 880px) {
  .game_menus_content nav {
    justify-content: space-around;
  }
}
