.container {
  background: url(../../public/skills.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
}
.title {
  text-align: center;
}
.sticky {
  padding: 10px;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--subClr);
  color: #dfdfdf;
  font-size: calc(var(--heading1) * 0.7);
  letter-spacing: 3px;
}
.sticky span {
  color: #ffdd1c;
  filter: drop-shadow(0 0 25px #ffdd1c);
  font-size: calc(var(--heading1) * 1.2);
}
.main_content {
  display: flex;
  position: relative;
}
.side_menu_container {
  position: relative;
  width: 25%;
  max-width: 230px;
  /* background-color: rgb(140, 100, 0); */
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.side_menu {
  color: #fff;
  padding: 20px;
  text-align: center;
  align-items: flex-start;
  position: sticky;
  margin-top: 50px;
  top: 20%;
  left: 0;
}
.menu_item {
  margin-bottom: 20px;
}
.menu_item_title {
  cursor: pointer;
}
.menu_item_title:hover {
  transition: all 0.2s ease-in-out;
  color: #ffdd1c;
}
.menu_item_title::before {
  content: "> ";
}
.skill_content {
  margin: 50px;
  width: 80%;
  height: 100%;
  min-height: 70vh;
}
.skill_title {
  text-align: center;
  color: #fff;
  margin: 0 auto 20px;
  padding: 10px 0;
  width: 400px;
  background: linear-gradient(#616161 0%, #333 10%, #222);
  border-radius: 8px;
}
.skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skill_item {
  position: relative;
  width: 40%;
  min-width: 230px;
  margin: 20px 20px;
  padding: 15px 10px 12px;
  background: linear-gradient(#616161 0%, #333 10%, #222);
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #000;
  transition: 0.5s;
}
.skill_item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 10;
}
.skill_item .name {
  font-size: 1.2em;
  position: relative;
  text-align: right;
  color: #fff;
  margin-top: -2px;
  /* margin-bottom: 5px; */
}
.skill_item .value {
  position: relative;
  /* width: 40px; */
  text-align: left;
  color: #fff;
  margin-top: -2px;
  display: flex;
  align-items: center;
}
.skill_item .percent {
  position: relative;
  height: 20px;
  margin: 0;
  border-radius: 5px;
  /* background: linear-gradient(45deg, var(--clr_start), var(--clr_end)); */
  background: linear-gradient(
    45deg,
    #ffc800,
    #ffa900,
    #ff5700,
    #f94e00,
    #f90404
  );
  box-shadow: inset 0 0 10px #000;
  overflow: hidden;
}
.skill_item .progress {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 0 5px 0 0;
  background: #151515;
  box-shadow: inset 0 0 10px #000;
  animation: animate 1.2s ease-in-out forwards;
}
.skill_content .skill_item:hover {
  opacity: 1;
  transform: scale(1.1);
  cursor: pointer;
}

@keyframes animate {
  from {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .skill_content {
    margin: 50px auto 50px;
  }
  .skill_title {
    width: 300px;
  }
  .skill_item {
    max-width: 320px;
    width: 80%;
    margin: 20px 0;
  }
}
@media (max-width: 768px) {
  .main_content {
    display: block;
  }
  .side_menu_container {
    max-width: 100%;
  }
  .side_menu_container {
    display: block;
    width: 100%;
    border-left: 0px solid rgb(46, 46, 46);
  }
  .side_menu {
    margin-top: 0;
  }
  .skill_title {
    width: 230px;
  }
  .menu_item > ul {
    display: flex;
    gap: 12px;
    justify-content: center;
  }
  .menu_item_title::before {
    content: "";
  }
}
