.modal_bg {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.mask {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

.modal_container {
  height: 80%;
  width: 80%;
  z-index: 100;
  background-color: #2b2b2b;
  color: #fafafa;
  border-radius: 15px;
  padding: 40px 10px 40px 40px;
  position: relative;
}

.close_button {
  color: #008b52;
  font-size: 3rem;
  position: absolute;
  top: 2px;
  right: 20px;
  cursor: pointer;
  transition: all 0.35s;
}
.close_button > svg {
  background-color: #fff;
  clip-path: circle(48%);
}
.close_button:hover {
  opacity: 0.7;
}

.modal_content {
  display: flex;
  justify-content: space-between;
}
.modal_content .text {
  width: 40%;
}
.modal_content .text > * + * {
  margin-top: 20px;
}
.modal_content .text h2 {
  border-bottom: 5px solid #00dc82;
  border-image: linear-gradient(
    to right,
    #00dc82 0%,
    #00dc82 60%,
    #2b2b2b 100%
  );
  border-image-slice: 1;
}
.modal_content .text .dev {
  border: #00dc82 dashed 2px;
  padding: 8px;
  font-size: 0.95rem;
}
.modal_content .text .dev .dev_title {
  font-weight: bold;
}
.modal_content .text .dev > .dev_content + .dev_content {
  margin-top: 10px;
}
.modal_content .text .dev .dev_text {
  margin-left: 10px;
}

.modal_content .imgs {
  width: 58%;
  margin-top: 40px;
}
.modal_content .imgs nav ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.modal_content .imgs nav ul li {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.35s all;
}
.modal_content .imgs nav ul li:hover {
  transform: scale(1.2);
  opacity: 1;
}
.modal_content .list_img {
  max-width: 80px;
  height: auto;
}
.modal_content .main_img {
  padding: 0 30px 30px;
  width: 100%;
  height: auto;
}
.selected {
  /* border: 2px solid #00dc82; */
  box-shadow: 0px 0px 10px 3px #00dc82;
}
