.container {
  height: 100dvh;
  width: 20vw;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px 10px;
  position: sticky;
  top: 0;
  left: 0;
  /* background-color: #f7f7f7; */
  background-color: var(--mainClr);
}
.logo {
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.logo:hover {
  animation: logo_anime 1.5s ease-in-out infinite;
  /* transform: rotate(10deg); */
}
@keyframes logo_anime {
  20% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(0deg);
  }
}

.nav > nav > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav > nav > ul > li {
  font-size: clamp(8px, var(--small-heading3), 20px);
  padding: 2px 0;
  position: relative;
  cursor: pointer;
}

.nav > nav > ul > li > a {
  font-size: 1.2em;
  /* line-height: 1em; */
  letter-spacing: 2px;
  position: relative;
  color: transparent;
  /* -webkit-text-stroke: 1px rgba(23, 41, 160, 0.5); */
  -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
}

.nav > nav > ul > li > a::before {
  content: attr(data-text);
  position: absolute;
  color: #000;
  width: 0;
  overflow: hidden;
  transition: 1s;
  /* border-right: 3px solid rgb(0, 0, 0); */
  border-right: 8px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
}

.nav > nav > ul > li > a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr));
}

.sns {
  font-size: 26px;
  color: #fff;
}
.sns > ul {
  display: flex;
  gap: 15px;
}

.sns > ul > li {
  cursor: pointer;
}
.sns > ul > li:hover {
  animation: hover-animation 1.5s infinite ease-in-out;
}

/* スクロールアニメーションを定義 */
@keyframes hover-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .sns > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
